<div class="row" style="background-color:#ccc"><!--#F6F6F6">-->
    <div class="col-md-6 mt-7">
        <ul class="list-unstyled">
            <li><a href="#">Item 1</a></li>
            <li>Item 2</li>
            <li>Item 3</li>
            <li>Item 4</li>
        </ul>
    </div>
    <div class="col-md-6 mt-7">
        <ul class="list-unstyled">
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
            <li>Item 4</li>
        </ul>
    </div>
</div>
<div class="row mt-7">
    <div style="border:1px solid #eee;width:100%;">
        <img src="/images/ad.png" class="img-responsive">
    </div>
</div>

