<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="http://v3.bootcss.com/favicon.ico">

        <title></title>
        <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <body class="body">
        <div class="container-fluid" style="padding:0px;">
            <div class="container-fluid navbar-default pd-0" style="width:100%;margin-left:auto;margin-right:auto;border-width:1px;background-color:#3476BE;color:#fff;">
                <div class="container">
                    <nav class="navbar" role="navigation" style="display:table;width:100%;margin-left:auto;margin-right:auto;margin-bottom:0px;border:0px;">
                        <div class="navbar-header">
                            <h1 class="logo">W3Cschool</h1>
                        </div>
                        <div>
                            <ul class="nav navbar-nav pdl-20">
                                <li><a href="#">操作系统</a></li>
                                <li><a href="#">办公软件</a></li>
                                <!--<li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    Java 
                                    <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                    <li><a href="#">jmeter</a></li>
                                    <li><a href="#">EJB</a></li>
                                    <li><a href="#">Jasper Report</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">分离的链接</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">另一个分离的链接</a></li>
                                    </ul>
                                    </li>-->
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="container-fluid navbar-default bgc-white">
                <div class="container">
                    <div class="row mt-11">
                        <?php echo $this->content;?>
                    </div>
                </div>
            </div>
            <div class="container-fluid" >
                <div class="container btm">
                    <div class="row mt-20" style="border-top:1px solid #ccc;">
                        <div class="col-md-2 mt-7">padding-lef</div>
                        <div class="col-md-8"></div>
                        <div class="col-md-2 mt-7">pading-right</div>
                    </div>
                    <div class="row mt-20">
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
