<div class="row">
    <img src="/images/right_ad.png" class="img-responsive">
</div>
<div class="row mt-7">
    <img style="height:78px;" src="/images/right_ad.png" class="img-responsive">
</div>
<div class="row mt-20">
    <a href="#" class="list-group-item active">
        免费域名注册
    </a>
    <a href="#" class="list-group-item">24*7 支持</a>
    <a href="#" class="list-group-item">24*7 支持</a>
    <a href="#" class="list-group-item">免费 Window 空间托管</a>
    <a href="#" class="list-group-item">图像的数量</a>
    <a href="#" class="list-group-item">每年更新成本</a>
    <a href="#" class="list-group-item">免费 Window 空间托管</a>
    <a href="#" class="list-group-item">图像的数量</a>
    <a href="#" class="list-group-item">每年更新成本</a>
</div>
<div class="row mt-20">
    <a href="#" class="list-group-item active">
        免费域名注册
    </a>
    <a href="#" class="list-group-item">24*7 支持</a>
    <a href="#" class="list-group-item">24*7 支持</a>
    <a href="#" class="list-group-item">免费 Window 空间托管</a>
    <a href="#" class="list-group-item">图像的数量</a>
    <a href="#" class="list-group-item">每年更新成本</a>
    <a href="#" class="list-group-item">免费 Window 空间托管</a>
    <a href="#" class="list-group-item">图像的数量</a>
    <a href="#" class="list-group-item">每年更新成本</a>
</div>
<div class="row mt-20">
    <img src="/images/right_ad.png" class="img-responsive">
</div>
<div class="row mt-20">
    <img src="/images/right_ad.png" class="img-responsive">
</div>
