<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="http://v3.bootcss.com/favicon.ico">

        <title></title>
        <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body class="body">
        <div class="container-fluid" style="padding:0px;">
            <div class="container-fluid navbar-default pd-0" style="width:100%;margin-left:auto;margin-right:auto;border-width:1px;background-color:#3476BE;color:#fff;">
                <div class="container">
                    <nav class="navbar" role="navigation" style="display:table;width:100%;margin-left:auto;margin-right:auto;margin-bottom:0px;border:0px;">
                        <div class="navbar-header">
                            <h1 class="logo">W3Cschool</h1>
                        </div>
                        <div>
                            <ul class="nav navbar-nav pdl-20">
                                <li><a href="#">操作系统</a></li>
                                <li><a href="#">办公软件</a></li>
                                <!--<li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    Java 
                                    <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                    <li><a href="#">jmeter</a></li>
                                    <li><a href="#">EJB</a></li>
                                    <li><a href="#">Jasper Report</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">分离的链接</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">另一个分离的链接</a></li>
                                    </ul>
                                    </li>-->
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="container-fluid navbar-default bgc-white">
                <div class="container">
                    <div class="row mt-11">
                        <div class="col-md-2 cate">
                            <div class="row" style="background-color:#ccc"><!--#F6F6F6">-->
                                <div class="col-md-6 mt-7">
                                    <ul class="list-unstyled">
                                        <li><a href="#">Item 1</a></li>
                                        <li>Item 2</li>
                                        <li>Item 3</li>
                                        <li>Item 4</li>
                                    </ul>
                                </div>
                                <div class="col-md-6 mt-7">
                                    <ul class="list-unstyled">
                                        <li>Item 1</li>
                                        <li>Item 2</li>
                                        <li>Item 3</li>
                                        <li>Item 4</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row mt-7">
                                <div style="border:1px solid #eee;width:100%;">
                                    <img src="/images/ad.png" class="img-responsive">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="row">
                                <div class="col-md-9">
                                    <script src="/js/bootstrap-carousel.js"></script>
                                    <div>
                                        <div id="myCarousel" class="carousel slide">
                                            <ol class="carousel-indicators">
                                                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                                <li data-target="#myCarousel" data-slide-to="1"></li>
                                                <li data-target="#myCarousel" data-slide-to="2"></li>
                                            </ol>
                                            <!-- Carousel items -->
                                            <div class="carousel-inner">
                                                <div class="active item">
                                                    <img src="/images/b1.png" class="img-responsive" >
                                                </div>
                                                <div class="item">
                                                    <img src="/images/b2.png" class="img-responsive">
                                                </div>
                                                <div class="item">
                                                    <img src="/images/b3.png" class="img-responsive">
                                                </div>
                                            </div>
                                            <!-- Carousel nav
                                                <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                                                <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
                                            -->
                                        </div>
                                    </div>
                                    <div class="row mt-20">
                                        <div class="col-md-6">
                                            <span class="label label-primary">头条内容</span>
                                        </div>
                                        <div class="col-md-6">
                                            <div style="display:block;text-align:right;"><a href="#" style="font-size:12px;">more...</a></div>
                                        </div>
                                        <div class="col-md-12 mt-7">
                                            <div style="border-top:1px solid #ccc;height:1px;padding:0px 15px;"></div>
                                        </div>
                                        <div class="col-md-6 art_line">
                                            <img src="/images/media_ad.png" class="img-responsive">
                                        </div>
                                        <div class="col-md-6 art_line">
                                            <h6>Windows 8和CentOS 6.4(64)双系统硬盘安装教程</h6>
                                            <h6 class="red">[<a href="#">Linux</a>] <a href="#">Linux系统学习：教你在VirtualBox 安装 Ubuntu 15.04</a></h6>
                                            <h6>Windows 8和CentOS 6.4(64)双系统硬盘安装教程</h6>
                                            <h6>Windows 8和CentOS 6.4(64)双系统硬盘安装教程</h6>
                                            <h6>Windows 8和CentOS 6.4(64)双系统硬盘安装教程</h6>
                                            <h6>Windows 8和CentOS 6.4(64)双系统硬盘安装教程</h6>
                                            <h6>Windows 8和CentOS 6.4(64)双系统硬盘安装教程</h6>
                                            <h6>Windows 8和CentOS 6.4(64)双系统硬盘安装教程</h6>
                                            <h6>Windows 8和CentOS 6.4(64)双系统硬盘安装教程</h6>
                                            <h6>Windows 8和CentOS 6.4(64)双系统硬盘安装教程</h6>
                                            <h6>Windows 8和CentOS 6.4(64)双系统硬盘安装教程</h6>
                                        </div>
                                    </div>
                                    <div class="row mt-11">
                                        <div class="col-md-12">
                                            <a href="#" ><span class="label label-primary">Java</span></a>
                                            <span class="label label-primary">PHP</span>
                                            <span class="label label-primary">Python</span>
                                            <span class="label label-primary">C / C++</span>
                                            <span class="label label-primary">Object-C</span>
                                        </div>
                                        <div class="col-md-12 mt-7">
                                            <div style="border-top:1px solid #ccc;height:1px;padding:0px 15px;"></div>
                                        </div>
                                        <div class="col-md-6 art_line">
                                            <h6 class="blue">[Linux] <a href="#">Linux系统学习：教你在VirtualBox 安装 Ubuntu 15.04</a></h6>
                                            <h6><a href="#">Windows 8和CentOS 6.4(64)双系统硬盘安装教程</a></h6>
                                            <h6>Windows 8和CentOS 6.4(64)双系统硬盘安装教程</h6>
                                            <h6>Windows 8和CentOS 6.4(64)双系统硬盘安装教程</h6>
                                            <h6>Windows 8和CentOS 6.4(64)双系统硬盘安装教程</h6>
                                            <h6>Windows 8和CentOS 6.4(64)双系统硬盘安装教程</h6>
                                            <h6>Windows 8和CentOS 6.4(64)双系统硬盘安装教程</h6>
                                            <h6>Windows 8和CentOS 6.4(64)双系统硬盘安装教程</h6>
                                            <h6>Windows 8和CentOS 6.4(64)双系统硬盘安装教程</h6>
                                            <h6>Windows 8和CentOS 6.4(64)双系统硬盘安装教程</h6>
                                            <h6>Windows 8和CentOS 6.4(64)双系统硬盘安装教程</h6>
                                        </div>
                                        <div class="col-md-6 art_line">
                                            <h6 class="blue">[Linux] <a href="#">Linux系统学习：教你在VirtualBox 安装 Ubuntu 15.04</a></h6>
                                            <h6><a href="#">Windows 8和CentOS 6.4(64)双系统硬盘安装教程</a></h6>
                                            <h6>Windows 8和CentOS 6.4(64)双系统硬盘安装教程</h6>
                                            <h6>Windows 8和CentOS 6.4(64)双系统硬盘安装教程</h6>
                                            <h6>Windows 8和CentOS 6.4(64)双系统硬盘安装教程</h6>
                                            <h6>Windows 8和CentOS 6.4(64)双系统硬盘安装教程</h6>
                                            <h6>Windows 8和CentOS 6.4(64)双系统硬盘安装教程</h6>
                                            <h6>Windows 8和CentOS 6.4(64)双系统硬盘安装教程</h6>
                                            <h6>Windows 8和CentOS 6.4(64)双系统硬盘安装教程</h6>
                                            <h6>Windows 8和CentOS 6.4(64)双系统硬盘安装教程</h6>
                                            <h6>Windows 8和CentOS 6.4(64)双系统硬盘安装教程</h6>
                                        </div>
                                        <div class="col-md-12">
                                            <img src="/images/mid_ad.png" class="img-responsive">
                                        </div>
                                    </div>
                                    <div class="row mt-11">
                                        <div class="col-md-12">
                                            <a href="#" ><span class="label label-primary">Java</span></a>
                                            <span class="label label-primary">PHP</span>
                                            <span class="label label-primary">Python</span>
                                            <span class="label label-primary">C / C++</span>
                                            <span class="label label-primary">Object-C</span>
                                        </div>
                                        <div class="col-md-12 mt-7">
                                            <div style="border-top:1px solid #ccc;height:1px;padding:0px 15px;"></div>
                                        </div>
                                        <div class="col-md-6 art_line">
                                            <h6 class="blue">[Linux] <a href="#">Linux系统学习：教你在VirtualBox 安装 Ubuntu 15.04</a></h6>
                                            <h6><a href="#">Windows 8和CentOS 6.4(64)双系统硬盘安装教程</a></h6>
                                            <h6>Windows 8和CentOS 6.4(64)双系统硬盘安装教程</h6>
                                            <h6>Windows 8和CentOS 6.4(64)双系统硬盘安装教程</h6>
                                            <h6>Windows 8和CentOS 6.4(64)双系统硬盘安装教程</h6>
                                            <h6>Windows 8和CentOS 6.4(64)双系统硬盘安装教程</h6>
                                            <h6>Windows 8和CentOS 6.4(64)双系统硬盘安装教程</h6>
                                            <h6>Windows 8和CentOS 6.4(64)双系统硬盘安装教程</h6>
                                            <h6>Windows 8和CentOS 6.4(64)双系统硬盘安装教程</h6>
                                            <h6>Windows 8和CentOS 6.4(64)双系统硬盘安装教程</h6>
                                            <h6>Windows 8和CentOS 6.4(64)双系统硬盘安装教程</h6>
                                        </div>
                                        <div class="col-md-6 art_line">
                                            <h6 class="blue">[Linux] <a href="#">Linux系统学习：教你在VirtualBox 安装 Ubuntu 15.04</a></h6>
                                            <h6><a href="#">Windows 8和CentOS 6.4(64)双系统硬盘安装教程</a></h6>
                                            <h6>Windows 8和CentOS 6.4(64)双系统硬盘安装教程</h6>
                                            <h6>Windows 8和CentOS 6.4(64)双系统硬盘安装教程</h6>
                                            <h6>Windows 8和CentOS 6.4(64)双系统硬盘安装教程</h6>
                                            <h6>Windows 8和CentOS 6.4(64)双系统硬盘安装教程</h6>
                                            <h6>Windows 8和CentOS 6.4(64)双系统硬盘安装教程</h6>
                                            <h6>Windows 8和CentOS 6.4(64)双系统硬盘安装教程</h6>
                                            <h6>Windows 8和CentOS 6.4(64)双系统硬盘安装教程</h6>
                                            <h6>Windows 8和CentOS 6.4(64)双系统硬盘安装教程</h6>
                                            <h6>Windows 8和CentOS 6.4(64)双系统硬盘安装教程</h6>
                                        </div>
                                    </div>
                                    <div class="row mt-7">
                                        <div class="col-md-12">
                                            <a href="#" ><span class="label label-primary">Java</span></a>
                                            <span class="label label-primary">PHP</span>
                                            <span class="label label-primary">Python</span>
                                            <span class="label label-primary">C / C++</span>
                                            <span class="label label-primary">Object-C</span>
                                        </div>
                                        <div class="col-md-12 mt-7">
                                            <div style="border-top:1px solid #ccc;height:1px;padding:0px 15px;"></div>
                                        </div>
                                        <div class="col-md-6 art_line">
                                            <img src="/images/media_ad.png" class="img-responsive">
                                        </div>
                                        <div class="col-md-6 art_line">
                                            <h6>Windows 8和CentOS 6.4(64)双系统硬盘安装教程</h6>
                                            <h6 class="red">[<a href="#">Linux</a>] <a href="#">Linux系统学习：教你在VirtualBox 安装 Ubuntu 15.04</a></h6>
                                            <h6>Windows 8和CentOS 6.4(64)双系统硬盘安装教程</h6>
                                            <h6>Windows 8和CentOS 6.4(64)双系统硬盘安装教程</h6>
                                            <h6>Windows 8和CentOS 6.4(64)双系统硬盘安装教程</h6>
                                            <h6>Windows 8和CentOS 6.4(64)双系统硬盘安装教程</h6>
                                            <h6>Windows 8和CentOS 6.4(64)双系统硬盘安装教程</h6>
                                            <h6>Windows 8和CentOS 6.4(64)双系统硬盘安装教程</h6>
                                            <h6>Windows 8和CentOS 6.4(64)双系统硬盘安装教程</h6>
                                            <h6>Windows 8和CentOS 6.4(64)双系统硬盘安装教程</h6>
                                            <h6>Windows 8和CentOS 6.4(64)双系统硬盘安装教程</h6>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="row">
                                        <img src="/images/right_ad.png" class="img-responsive">
                                    </div>
                                    <div class="row mt-7">
                                        <img style="height:78px;" src="/images/right_ad.png" class="img-responsive">
                                    </div>
                                    <div class="row mt-20">
                                        <a href="#" class="list-group-item active">
                                               免费域名注册
                                        </a>
                                        <a href="#" class="list-group-item">24*7 支持</a>
                                        <a href="#" class="list-group-item">24*7 支持</a>
                                        <a href="#" class="list-group-item">免费 Window 空间托管</a>
                                        <a href="#" class="list-group-item">图像的数量</a>
                                        <a href="#" class="list-group-item">每年更新成本</a>
                                        <a href="#" class="list-group-item">免费 Window 空间托管</a>
                                        <a href="#" class="list-group-item">图像的数量</a>
                                        <a href="#" class="list-group-item">每年更新成本</a>
                                    </div>
                                    <div class="row mt-20">
                                        <a href="#" class="list-group-item active">
                                               免费域名注册
                                        </a>
                                        <a href="#" class="list-group-item">24*7 支持</a>
                                        <a href="#" class="list-group-item">24*7 支持</a>
                                        <a href="#" class="list-group-item">免费 Window 空间托管</a>
                                        <a href="#" class="list-group-item">图像的数量</a>
                                        <a href="#" class="list-group-item">每年更新成本</a>
                                        <a href="#" class="list-group-item">免费 Window 空间托管</a>
                                        <a href="#" class="list-group-item">图像的数量</a>
                                        <a href="#" class="list-group-item">每年更新成本</a>
                                    </div>
                                    <div class="row mt-20">
                                        <img src="/images/right_ad.png" class="img-responsive">
                                    </div>
                                    <div class="row mt-20">
                                        <img src="/images/right_ad.png" class="img-responsive">
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid" >
                <div class="container btm">
                    <div class="row mt-20" style="border-top:1px solid #ccc;">
                        <div class="col-md-2 mt-7">padding-lef</div>
                        <div class="col-md-8"></div>
                        <div class="col-md-2 mt-7">pading-right</div>
                    </div>
                    <div class="row mt-20">
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
