<div class="col-md-9">
    <div><ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">2013</a></li>
            <li class="active">十一月</li>
        </ol></div>
    <div style="text-align:center;"><h1>标题</h1></div>
    <div style="text-align:center;">时间:2016-01-18 12:34 作者:zhijie</div>
    <div class="mt-20">
        　　1月15号中央国家机关对台式机系统进行公开招标，此前有传言说微软正在中国科研机构合作开发政府部门专业版Win10系统，从这次招标来看Win10在政府部门采购中似乎仍然没有被解禁。
        　　Win10依然没能解禁
        　　虽然本次采购的是硬件产品台式机，但是有一种重要的软件产品是必须采购的，那就是操作系统，而且可以肯定的是，必然采购微软的操作系统。
        　　对微软来说无疑希望政府能够采购他最新的Win10，据网易科技去年12月26日报道，微软发布了一篇“为什么各国政府应该升级到 Win10 的六大理由”的文章。在文章中，微软解释称，Win10 操作系统是每一个国家政府的最佳选择，因为它提供了其他平台所不能给予的快速、高效、安全、可控性和灵活性。
        　　文章中还提到，最近，微软成功说服了中国政府，几乎可以确定微软很快将为各行政部门、主要国企安装及管理专门的 Win10 操作系统，同时可由政府选择杀毒软件以及执行各种定制。于是微软认为，为了保障安全，全球各个国家的有关部门也应该这样做。
        　　为了进入政府采购，微软还和CETC合作建立新公司要为政府订制安全Win10。
        　　但是，从中央国家机关批量集中采购的磋商文件看，禁用Win10和扶持国产操作系统这两个政策依然保留招标文件规定，操作系统Win8、Win10系列除外。
    </div>
    <div class="mt-20">
        Tags: 
    </div>
    <div class="row mt-20">
        <div class="col-md-4">
            <a href="#" class="list-group-item active">
                免费域名注册
            </a>
            <a href="#" class="list-group-item">24*7 支持</a>
            <a href="#" class="list-group-item">24*7 支持</a>
        </div>
        <div class="col-md-4">
            <a href="#" class="list-group-item active">
                免费域名注册
            </a>
            <a href="#" class="list-group-item">24*7 支持</a>
            <a href="#" class="list-group-item">24*7 支持</a>
        </div>
        <div class="col-md-4">
            <a href="#" class="list-group-item active">
                免费域名注册
            </a>
            <a href="#" class="list-group-item">24*7 支持</a>
            <a href="#" class="list-group-item">24*7 支持</a>
        </div>
    </div>
</div>
<div class="col-md-3">
    <?php include APP_PATH . 'application/views/layout/right.html'; ?>
</div>
